body {
    font-family: 'Comic Relief', sans-serif;
    background-color: #000;
}

@media (max-width: 425px) {


    .header {
        color: rgb(40, 109, 13);
        text-align: center;
        font-size: 11px;
        font-size: 9px;
    }

    .header img {
        object-fit: cover;
        height: 140px;
        width: 140px;
        border-radius: 50%;
        object-fit: cover;
    }

    .perfil {
        text-align: center;
        font-size: 10px;
    }


    .topo {
        color: white;
        font-size: 11px;
        padding: 5%;
    }

    .editar {
        text-align: center;
        margin-top: 20px;
        font-size: 8px;
        color: #21bf62;
    }

    .informacao1 {
        color: rgb(156, 156, 156);
        margin-top: 15px;
        font-size: 6px;
        padding: 2%;
    }

    .nome {
        background-color: #161717;
        color: #e5e5e5;
        margin: 1%;
        padding: 5%;
        border-radius: 10px;
        font-size: 7px;
        display: flex;
    }

    .informacao2 {
        color: rgb(156, 156, 156);
        font-size: 6px;
        padding: 2%;
    }

    .recado {
        background-color: #161717;
        color: #e5e5e5;
        margin: 1%;
        padding: 5%;
        border-radius: 10px;
        font-size: 7px;
        display: flex;
    }

    .informacao3 {
        color: rgb(156, 156, 156);
        margin-top: 2px;
        font-size: 6px;
        padding: 2%;
    }

    .numero {
        background-color: #161717;
        color: #e5e5e5;
        margin: 1%;
        padding: 5%;
        border-radius: 10px;
        font-size: 7px;
        display: flex;
    }

    .informacao4 {
        color: rgb(156, 156, 156);
        margin-top: 2px;
        font-size: 6px;
        padding: 2%;
    }

    .link {
        background-color: #161717;
        color: #21c063;
        margin: 1%;
        padding: 5%;
        border-radius: 10px;
        font-size: 7px;
        display: flex;
    }

    .informacao5 {
        color: rgb(156, 156, 156);
        margin-top: 2px;
        font-size: 6px;
        padding: 2%;
    }

    .cep {
        background-color: #161717;
        color: white;
        margin: 1%;
        padding: 5%;
        border-radius: 10px;
        font-size: 7px;
        display: flex;
    }

    input {
        background-color: #161717;
        color: white;
        border: none;
        display: flex;
        flex-direction: column;
    }

    .btn {
        text-decoration: none;
        color: rgb(156, 156, 156);
    }

    .informacoes  {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5vh;
        width: 400px;
        color:white;
        font-size: 12px;
        text-decoration: none;
    }

    .atualizacoes {
        text-align: center;
    }

    .ligacoes {
        text-align: center;
    }

    .comunidades {
        text-align: center;
    }

    .conversas {
        text-align: center;
    }

    .configuracoes {
        color: white;
        text-align: center;
    }

}